body {
    background-color: #0a9dd3;
}

#webchat {
    margin-top: 50px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget-container {
    position: relative !important;
    max-width: 40% !important;
}

.header {
    visibility: hidden;
    height: 0;
    padding: 0 !important;
}

.conversation-container {
    box-shadow: none !important;
}

.client {
    background-color: rgb(5, 79, 114) !important;
}

.response {
    max-width: 270px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, serif;
    line-height: 1;
    margin: 0;
    padding: 0
}


h2,
.h2 {
    font-weight: 900;
    font-size: 36px;
    text-shadow: 3px 3px 0px rgba(40, 40, 40, 0.1)
}

a {
    color: #0984bf;
    text-decoration: none;
    outline: 0
}

a:hover {
    color: #044f73
}


h1,
.h1 {
    font-weight: 900;
    font-size: 48px;
    text-shadow: 3px 3px 0px rgba(40, 40, 40, 0.1)
}


h3,
.h3 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 800
}

strong {
    font-weight: 800
}

@media (max-width: 500px) {

    h1,
    .h1,
    h2,
    .h2 {
        font-size: 36px
    }

    h5,
    .h5 {
        font-size: 18px
    }
}

header.content-headline {
    text-align: center;
}

.bg-primary header.content-headline,
.bg-two-colored header.content-headline {
    color: #fff;
}

.bg-primary header.content-headline .title.border-bottom:after,
.bg-two-colored header.content-headline .title.border-bottom:after {
    background: #eed52f;
}

header.content-headline .title.border-bottom:after {
    position: absolute;
    bottom: -18px;
    left: 50%;
    height: 6px;
    width: 50px;
    margin-left: -25px;
    content: ' ';
    background: #0984bf;
}

header.content-headline .title {
    position: relative;
    margin-bottom: 50px;
}

.sender {
    border-radius: 0 !important;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

/* CHATROOM */
.chatroom h3 {
    height: 0px !important;
}

.chatroom {
    background-color: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 3px;
    box-shadow: 0 0 0 2px hsla(0, 0%, 100%, .8);
    color: white;
    height: 500px;
    letter-spacing: normal;
    max-height: 90vh;
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
    margin-top: -510px;
}

.waiting p li {
    font-size: 5px;
    color: pink;
}

.chatroom,
.chatroom * {
    box-sizing: border-box
}

.chatroom.closed {
    height: 40px;
}

.chatroom h3 {
    align-items: center;
    background-color: #343d4e;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    justify-content: center;
    margin: 0
}

.chatroom .chats {
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    height: calc(100% - 40px);
    margin: 0;
    overflow-y: scroll;
    padding: 20px
}

.chatroom .chats .chat {
    background: rgb(5, 79, 114) !important;
    border-radius: 10px;
    clear: both;
    float: left;
    font-size: 14px;
    list-style: none;
    margin: 10px 0 0;
    max-width: 60%;
    padding: 13px 13px;
    position: relative
}

.chatroom .chats .chat img {
    max-width: 100%;
    vertical-align: middle
}

.chatroom .chats .chat.left {
    border-bottom-left-radius: 0
}

.chatroom .chats .chat.right {
    border-bottom-right-radius: 0;
    clear: both;
    float: right
}

.chatroom .chats .chat .text {
    word-wrap: break-word;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.chatroom .chats .chat.chat-img {
    padding: 5px
}

.chatroom .chats .chat a {
    color: #3498db;
    text-decoration: none
}

.chatroom .chats .chat ol,
.chatroom .chats .chat ul {
    margin: 0;
    padding-left: 1.5em
}

.chatroom .chats .chat ol li,
.chatroom .chats .chat ul li {
    padding-left: 0
}

.chatroom .chats .chat.waiting {
    background: transparent;
    margin: 10px 0;
    padding: 5px;
    font-size: 10px;
}

@keyframes fade {
    0% {
        opacity: 1
    }

    to {
        opacity: .3
    }
}

.chatroom .chats .chat.waiting span {
    animation-direction: alternate;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    font-size: 1.5em
}

.chatroom .chats .chat.waiting span:first-child {
    animation-delay: 0s
}

.chatroom .chats .chat.waiting span:nth-child(2) {
    animation-delay: .4s
}

.chatroom .chats .chat.waiting span:nth-child(3) {
    animation-delay: .8s
}

.chatroom .chats .time {
    clear: both;
    color: #414141;
    font-size: 10px;
    height: 10px;
    list-style: none;
    margin: 5px 0 20px
}

.chatroom .chats .time.left {
    float: left
}

.chatroom .chats .time.right {
    float: right
}

.chatroom .chats .chat-buttons {
    clear: both;
    font-size: 14px;
    list-style: none;
    margin: 10px 0;
    padding: 0;
    position: relative;
    text-align: center
}

.chatroom .chats .chat-buttons .chat-button {
    background-color: #343d4e;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: normal;
    margin: 3px;
    padding: 5px 10px;
    transition: all .3s ease
}

.chatroom .chats .chat-buttons .chat-button.chat-button-selected,
.chatroom .chats .chat-buttons .chat-button:hover {
    background-color: rgba(52, 61, 78, .6);
    color: #fff
}

.chatroom .input {
    align-items: center;
    background-color: #343d4e;
    display: flex;
    flex-direction: row;
    height: 40px;
    margin: 0;
    padding: 0 5px;
    width: 100%
}

.chatroom .input input[type=text] {
    background-color: hsla(0, 0%, 100%, .8);
    border: 1px solid #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0;
    border-right: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    box-sizing: border-box;
    color: #343d4e;
    flex: 4;
    font-size: 14px;
    height: 30px;
    outline: 0;
    padding: 0 5px;
    transition: background-color .2s ease
}

.chatroom .input input[type=text]:focus {
    background-color: #fff;
    box-shadow: none
}

.chatroom .input input[type=submit] {
    background: #343d4e;
    border: 1px solid #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 3px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex: 1;
    font-size: 12px;
    font-weight: 600;
    height: 30px;
    line-height: 1;
    min-width: 70px;
    outline: none;
    overflow: hidden;
    padding: 0;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    transition: all .3s ease;
    white-space: nowrap
}

.chatroom .input input[type=submit]:hover {
    background: hsla(0, 0%, 100%, .8)
}

.chatroom #speech-input {
    background: #343d4e;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    height: 30px;
    margin-left: 5px;
    transition: all .3s ease;
    width: 30px
}

.chatroom #speech-input:hover {
    background: hsla(0, 0%, 100%, .8)
}

.chatroom .vertical-center {
    vertical-align: middle
}